body {
  margin: 0;
  background-color: #242424;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: dimgrey;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

div {
  margin-top: 1rem;
}